*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader{
    background: #000 url("images/loading/loading.gif") no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  


h1{
    font-weight: bold;
}

